:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 500;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(250, 205, 1, 255);
}

.logo {
  width: 6%;
  height: 6%;
  object-fit: contain;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 10px;
  min-height: 10vh;
}