.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 1000; /* Asegúrate de que esté por encima de todo el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
  }